   #body #content .content .paging{
     margin:0 0 20px 40px;
	 background:url("../images/border-dotted.gif");
	 background-position:top;
	 background-repeat:repeat-x;
	 width:480px;
	 height:80px;
	 
   }
   
   #body #content .content .paging a{
     text-decoration:none; 
	 font-size:24px;
	 font-family:"Myriad Pro";
	 color:#ffffff;
	 text-align:center;
	 background:url("../images/buttons.gif");
	 background-position: 0 -90px;
	 background-repeat:repeat-x;
	 height:40px;
	 width:40px;
	 float:left;
	 margin:20px 5px 20px 5px;
	 line-height:40px;
   }
   
   #body #content .content .paging a:hover{
     color:#000000;
   }
  
   #body #content .content .paging a.active{
	 background:url("../images/buttons.gif");
	 background-position: 0 0; 
	 background-repeat:repeat-x;
   }
   
   #body #content .content .paging a.next{
	 background:url("../images/buttons.gif");
	 background-position: 0 -180px;
	 background-repeat:repeat-x;
	 height:40px;
	 width:100px;
   }